<div class="row"  >
    <div class="col-lg-2">
        <input type="search"   ng-model="nameFilter" placeholder="Search..." autofocus
               data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Filter Championship Standings based on Racer Name "/>
    </div>
    <div class="col-lg-9 table-back">
        <div >


            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th colspan="5" class="text-center title-name">Drivers Championship Standings</th>
                </tr>

                <tr style="font-weight: bold">
                    <td>No.</td>
                    <td>Racer Name</td>
                    <td>Nationality</td>
                    <td>Car Name</td>
                    <td>Points</td>
                </tr>
                </thead>
                <tbody >
                <tr ng-repeat="driver in driversList | filter :  searchFilter ">
                    <td>{{$index + 1}}</td>
                    <td><a href="#/driver/{{driver.Driver.driverId}}">
                         <img ng-src="img/flags/{{driver.Driver.nationality}}.png" />
                        &nbsp;{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
                    </a>
                    </td>
                    <td>{{driver.Driver.nationality}}</td>
                    <td>{{driver.Constructors[0].name}}</td>
                    <td>{{driver.points}}</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>